@font-face {
    font-family: Nilland;
    src: url('../font/Nilland.ttf');
}

@font-face {
    font-family: Kirvy;
    src: url('../font/Kirvy.otf');
}

::-moz-selection { 
    background-color: #FFAA00;
    color: #000000;
}

::selection {
    background-color: #FFAA00;
    color: #000000;
}

body {
    background-color: #FFFFF0;
}

div {
    max-width: 640px;
    margin: 0 auto;
}

.body {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px #CCCCCC;
}

h1 {
    text-align: center;
    font-family: Nilland;
    font-size: 36px;
}

p, li {
    font-family: Kirvy; 
}

a {
    text-decoration: none;
    transition: color 300ms, border-bottom 300ms;
    color: #00AAFF;
}

a:hover {
    color: #44CCFF;
}

.menu {
    margin-top: 40px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.menu li {
    font-family: Nilland;
    display: inline;
    margin: 0 -4px;
    font-size: 18px;
}

.menu a {
    color: #787878;
    border-bottom: solid 2px #A8A8A8;
    padding: 0 8px;
}

.menu a.selected, .menu a:hover {
    color: #000000;
    border-bottom: solid 2px #444444;
}

.social ul {
    list-style-type: none;
    float: right;
    clear: both;
}

.social li {    
    display: inline;
}
