<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Official Lonami's website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <title>
        {% block title %}
        Lonami's
        {% if current_path == '/'%}
            Site
        {% elif current_path is starting_with('/blog') %}
            Blog
        {% elif current_path is starting_with('/golb') %}
            Golb
        {% else %}
            Confused
        {% endif %}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/style.css">
    {% endblock %}
</head>
<body>
    <nav class="sections">
        <ul>
            <li><a href="/" class="{% if current_path == '/' %}selected{% endif %}">lonami's site</a></li>
            <li><a href="/blog" class="{% if current_path is starting_with('/blog') %}selected{% endif %}">blog</a></li>
            <li><a href="/golb" class="{% if current_path is starting_with('/golb') %}selected{% endif %}">golb</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
